<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{#each proizvodi}}
    <div class="col-3" id="kartica">
        <div class="card">
            <div class="card-body">
                <h5>{{this.ime}}</h5>
                <p class="card-text"> {{this.opis}}</p>
                <h4 class="card-text">{{this.cena}} RSD
                </h4>
            </div>
        </div>
        <br>
    </div>

{{/each}}




</body>
</html>
